$g-color-green: #4CAE50;
$g-color-green-light: #E4FAE5;
$g-color-red: #F98A8A;
$g-color-red-light: #FCD7D7;
$g-button-bg: #EE4035;
$g-button-border-color: darken($g-button-bg, 20);
$g-color-grey: #B5B5B5;
$g-color-grey-light: #F7F7F7;

/* getsbcore */
$g-color-link: #30499b;
$g-bg-light: #f2f2f2;
$g-bg-color-main: #eb7b2d;

$g-border-color-dark: #2b2f36;

$g-font-main: 'Helvetica';

/**********************************
Описание
**********************************/

/*** Общие вертикальные отступы
    .gpt и .gpb
Классы ".gpt" (global-padding-top) и ".gpb" (global-padding-bottom) описываются в файле "/sbpro/_a.scss";
Они отвечают за верхний и нижний вертикальный внутренний отступ соответственно;
Подключаются через "@extend .gpt;" и/или "@extend .gpb;" для нужного класса;
Используются в сочетании (.gpt и .gpb) в таких блоках:
.c-cards, .c-inside-description, .c-inside-docs, .c-inside-fact, .c-inside-ol, .c-inside-table, .c-inside-team, .c-inside-ul, .c-tables;
Используются в сочетании (только .gpt) в таких блоках:
.c-app;

*/






/*********************
spacer
*********************/

$spacer:              20px;


/*********************
grid-system
*********************/

$gridSystem:          25, 50, 100;


/*********************
Медиа-выражения и grid-points
*********************/

/*** Медиа-выражения

*------------------------------------------------------------*
| Миксины для медиавыражений заданы в файле "sbpro/_m.scss"; |
|             Система гридов задана в файле "sbpro/_g.scss"; |
*------------------------------------------------------------*

*------------------------------------------------------------------------------------------------------------*
|   --Видимость медиа выражений--      --Пример использования--         --Система сеток--                    |
| A         B         C         D         E																	 |
| -∞        $b        $c        $d       +∞																	 |
| +++++++++++++++++++++++++++++++++++++++++                                   col-(25/33/50/66/100)			 |
| ++++++++++++++++++++++++++++++|----------      @include ad() { ... }        col-ad-(25/33/50/66/100)		 |
| ++++++++++++++++++++|--------------------      @include ac() { ... }        col-ac-(25/33/50/66/100)		 |
| ++++++++++|------------------------------      @include ab() { ... }        col-ab-(25/33/50/66/100)		 |
| ------------------------------|++++++++++      @include de() { ... }										 |
| --------------------|++++++++++++++++++++      @include ce() { ... }										 |
| ----------|++++++++++++++++++++++++++++++      @include be() { ... }										 |
| ----------|+++++++++++++++++++|----------      @include bd() { ... }										 |
| ----------|+++++++++|--------------------      @include bc() { ... }										 |
| --------------------|+++++++++|----------      @include cd() { ... }										 |
| 																											 |
|      A1    A4      A2        A3          																	 |
| -∞   $a1   $a4     $a2       $a3       +∞																	 |
| +++++|-----------------------------------      @include a1() { ... }        col-a1-(25/33/50/66/100)		 |
| +++++++++++|-----------------------------      @include a4() { ... }										 |
| +++++++++++++++++++|---------------------      @include a2() { ... }										 |
| +++++++++++++++++++++++++++++|-----------      @include a3() { ... }										 |
| 																											 |
|            E2           E1               																	 |
| -∞         $e2          $e1            +∞																	 |
| -----------|+++++++++++++++++++++++++++++      @include e2() { ... }										 |
| ------------------------|++++++++++++++++      @include e1() { ... }										 |
| 																											 |
|        P1(1)                 P1(2)       	   																 |
| -∞     $p1[1]                $p1[2]    +∞	   																 |
| -------|+++++++++++++++++++++|-----------      @include p1() { ... }										 |
*------------------------------------------------------------------------------------------------------------*
*/
$a1:                  600px;

$b:                   700px;
$c:                   950px;
$d:                   1250px;

$e1:                  1700px;

$a-top-bgimg1:        800px;
$a-top-bgimg2:        700px;
$a-top-bgimg3:        545px;




/*********************
width for center blocks
*********************/

/*
 some page
 ___________________________________________________
|.w    _______________________________________	    |
|     |.c (max-width: $max-width;)			  |	    |
|     | _____________________________________ |	    |
|     ||div					                 ||	    |
|     ||									 ||	    |
|     | ------------------------------------- |	    |
|     |    _______________________________	  |	    |
|     |   |.some-class (				  |	  |	    |
|     |   |max-width: $max-width-inside;) |	  |	    |
|     |    -------------------------------    |	    |
|      --------------------------------------- 	    |
 ---------------------------------------------------

*/
$max-width:           1000px;
$max-width-inner:     780px;
