.c-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    .c {
        padding-top: 10px;
        &:after {
            @extend .clearfix;
        }
    }
    &__logo {
        color: black;
        border: none;
        font-weight: 500;
        font-size: 25px;
        float: left;
    }
    &__nav {
        display: inline-block;
        padding-left: 80px;
        padding-top: 4px;
        float: left;
        ul {
            display: inline-block;
            li {
                display: inline-block;
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    border: none;
                    color: $g-color-link;
                    font-size: 18px;
                    text-transform: uppercase;
                }
            }
        }
    }
    &__login {
        float: right;
        padding-right: 10px;
        padding-top: 4px;
        z-index: 3000;
        ul {
            display: inline-block;
            li {
                display: inline-block;
                a {
                    border: none;
                    color: $g-color-link;
                    font-size: 18px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__topnav {
        float: right;
        padding-top: 3px;
        padding-left: 30px;
    }
}
