.c-topnav {
    position: absolute;
    z-index: 2000;
    right: 0;
    &:hover {
        .c-topnav__button {
            background-color: white;
        }
        .c-topnav__navlist {
            display: inline-block;
        }
    }
    &__button {
        color: $g-color-link;
        border: 1px solid $g-color-link;
        border-radius: 4px;
        height: 22px;
        width: 28px;
        text-align: center;
        line-height: 15px;
        cursor: pointer;
        top: -1px;
        float: right;
    }
    &__navlist {
        //display: inline-block;
        display: none;
        background: white;
        padding: 20px;
        ul {
            li {
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
