.c-top {
    background: $g-bg-light;
    .c {
        padding-top: 98px;
        padding-bottom: 108px;
        & > div {
            z-index: 1000;
        }
    }
    h1 {
        font-size: 40px;
        font-weight: 500;
    }
    .b-button {
        margin-top: 15px;
    }
    .b-link {
        margin-top: 18px;
    }
    &__bgimg-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        $max-width-bgimg: $max-width + 150;
        max-width: $max-width-bgimg;
        left: 50%;
        margin-left: -$max-width-bgimg/2;
        overflow: hidden;
    }
    &__bgimg {
        display: block;
        position: absolute;
        right: 200px;
        bottom: 23px;
        z-index: 2;
        & > div {
            float: left;
            display: block;
            width: 180px;
            height: 180px;
            border: solid 2px $g-border-color-dark;
            &:nth-child(1) {
                border-radius: 200px;
                @include a-top-bgimg1() {
                    opacity: 0.5;
                }
                @include a-top-bgimg2() {
                    opacity: 0.3;
                }
                @include a-top-bgimg3() {
                    opacity: 0.1;
                }
            }
            &:nth-child(2) {
                @include a-top-bgimg2() {
                    opacity: 0.5;
                }
                @include a-top-bgimg3() {
                    opacity: 0.3;
                }
            }
            &:nth-child(3) {
                height: 75px;
                width: 160px;
                position: absolute;
                bottom: 100%;
                left: 100%;
                margin-left: 19px;
                margin-bottom: -2px;
                transform: skew(-30deg);
                @include a-top-bgimg3() {
                    opacity: 0.5;
                }
            }
        }
    }
}
