.b-button {
    background-color: $g-bg-color-main;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 50px 15px 50px;
    display: inline-block;
    &:hover {
        color: white;
    }
}
