.b-link {
    color: $g-color-link;
    border-bottom: 1px solid lighten($g-color-link, 20);
    display: inline-block;
    &:hover {
        color: darken($g-color-link, 20);
        border-bottom: 1px solid darken($g-color-link, 10);
    }
}
