@import '../_vars';
@import '_m';


.clearfix {
	content: '';
	display: table;
	clear: both;
}
.transition-down {
	transition: all 0.2s;
}
.transition-up {
	transition: all 0.3s;
}

.nowrap {
	white-space: nowrap;
}
