@import '../_vars';
@import '_m';

@mixin cols-33-and-66($x) {
    .#{$x}-33 {
	    width: 33.33333%;
    }
    .#{$x}-66 {
	    width: 66.66666%;
    }
}

.active {
  a {
    color: red !important;
  }
}

.spacer {
  height: $spacer;
}
.t-center {
  text-align: center;
}
.t-right {
    text-align: right;
}
.t-left {
  text-align: left;
}
.cards-margin {
    margin-left: -10px;
    margin-right: -10px;
}
.inline-block {
  display: inline-block;
}
.w {
	width: 100%;
}
.padding-y {
    padding-top: 50px;
    padding-bottom: 50px;
}
.c {
	margin: 0 auto;
	width: 100%;
	max-width: $max-width;
	position: relative;
  padding: 0 20px;
}
.inner {
    max-width: $max-width-inner;
    margin-left: auto;
    margin-right: auto;
}
.row {
	&:after {
		@extend .clearfix;
	}
}
[class*="col-"] {
	float: left;
}

@each $a in $gridSystem {
    .col-#{$a} {
        width: #{$a + '%'};
    }
}
@include cols-33-and-66(col);

@include ad() {
	@each $a in $gridSystem {
    	.col-ad-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-ad);
}

@include ac() {
	@each $a in $gridSystem {
    	.col-ac-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-ac);
}

@include ab() {
	@each $a in $gridSystem {
    	.col-ab-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-ab);
}

@include a1() {
	@each $a in $gridSystem {
    	.col-a1-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-a1);
}
