@import '../_vars';
@import '_m';

html, body {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  font-family: $g-font-main;
}
body {
  background-color: white;
  font-size: 1em;
  min-width: 320px;
}
div, h1, h2, h3, h4, h5, h6, ul, ol, li, a, p, span {
  position: relative;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
div {
  box-sizing: border-box;
}
a:active, a:hover, a:focus, button:focus, input:focus {
	outline: none;
}
a {
  text-decoration: none;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  @extend .transition-down;
  font-weight: 100;
  &:hover {
    color: black;
    border-color: black;
    @extend .transition-up;
  }
  &[href=""] {
    opacity: 0.5;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 25px;
  color: #535353;
}
h5 {
  font-size: 1.05em;
}
h6 {
  font-size: 1em;
}
p {
  font-size: 15px;
  line-height: 25px;
}
table, td, th {
	margin:0;
	padding:0;
	background:none;
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	background-image:none;
}
button {
  border: 1px solid black;
  border-radius: black;
  font-size: 0.8em;
  padding: 4px 20px;
  min-width: 160px;
  cursor: pointer;
  background: black;
}
