<div class="c-footer">
    <div class="c">
        <div class="row">
            <div class="col-50">
                <p>2017 © SBCORE - HTML5-FRAMEWORK</p>
            </div>
            <div class="col-50 t-right">
                <p>Created by <a href="http://y4t6.com" target="_blank">Y4T6</a></p>
            </div>
        </div>
    </div>
</div>
