<div class="c-header">
    <div class="c">

        <a href="index.html" class="c-header__logo">SBCORE</a>

        <div class="c-header__nav">
            <ul>
                <li><a href="index.html">docs</a></li>
                <li><a href="index.html">download</a></li>
            </ul>
        </div>

        <div class="c-header__topnav">

            <div class="c-topnav">
                <div class="c-topnav__button">...</div>
                <div class="c-topnav__navlist">
                    <ul>
                        <li><a href="index.html">registration</a></li>
                        <li><a href="index.html">themes</a></li>
                        <li><a href="index.html">about</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="c-header__login">
            <ul>
                <li><a href="index.html">login</a></li>
            </ul>
        </div>

    </div>
</div>
