<div class="c-top">
    <div class="c-top__bgimg-wrap">
        <div class="c-top__bgimg">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="c">
        <div>
            <h1>HTML5-FRAMEWORK</h1>
        </div>
        <div>
            <a href="#" class="b-button">DONWLOAD ZIP</a>
        </div>
        <div>
            <a href="https://bitbucket.org/doriksan/getsbcore/src" target="_blank" class="b-link">See on Github</a>
        </div>
    </div>
</div>
